*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align:center;
    font-size: 30px;
    margin: 100px 100px 100px 100px;
}

#content{
    left:10%;
    text-align: center;
    width: 80%;
    position: absolute;
}